<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order cancelled email</title>
</head>

<body>
    <h1>Hi {{ firstName }},</h1>
    <h1 style="text-align: center;margin-bottom: 20px;">Your order has been cancelled!</h1>
    <h4 style="margin-bottom: 20px; text-align: center; font-size: 20px;">
        Your order {{orderId}} has been cancelled as per your request through our website. </h4>
    <div style="text-align: center;margin-bottom: 40px;"><b>Please reply to this email, in case of further details.
            Visit our website to view your order details.</b>
    </div>
    <div style="margin-top: 40px;font-size: 20px;">
        Thanks and regards,
    </div>
    <div style="font-size: 20px;">
        Metalliage
    </div>
</body>

</html>