<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order placed email</title>
</head>

<body>
    <h1>Hi {{ firstName }},</h1>
    <h1 style="text-align: center;margin-bottom: 20px;">Your order has been confirmed!</h1>
    <h4 style="margin-bottom: 20px; font-size: 20px;">
        Your order {{orderId}} for the amount {{totalAmount}} CAD is confirmed and this email is to acknowledge your
        successful
        payment. Please find the attached invoice slip with this email for your reference. </h4>
    <h4 style="margin-bottom: 20px; font-size: 20px;">
        You will be notified once your order has been shipped.</h4>
    <h4 style="margin-bottom: 20px; font-size: 20px;">
        Please reply to this email, in case of further details. Visit our website to view your order details</h4>

    <div style="margin-top: 40px;font-size: 20px;">
        Thanks and regards,
    </div>
    <div style="font-size: 20px;">
        Metalliage
    </div>
</body>

</html>